*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{ 
  background: radial-gradient(circle at 74% 33%, rgba(159, 198, 25, 1) 0%, rgba(1, 30, 17, 1) 26%);
  background-repeat: no-repeat;
  position: relative;
}

  span{
    color: rgb(33, 33, 117);
  }

.navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo img{
  width: 140px;
}
.name{
  color: #16b108;
  /* margin-top: 30px;
  margin-left: 30px;
  font-size:40px; */
}


 h2{
  color: antiquewhite;
  display: block;
  /* margin-left: 160px;
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 60px;
  text-align: center; */
 }

 /* h3{
  font-size: 20px;  
  text-align: center;
  margin-bottom: 15px;
 } */

.content{
  color: beige;
  /* display: grid;
  grid-template-columns: auto auto;
  grid-gap: 0px;
  margin-bottom: 0px */
}

/* .checks{
  grid-row: 1 /1;
}

.one{
  margin-left: 230px;
  margin-bottom: 15px;
}
.two{
  margin-left: 160px;
  margin-bottom: 15px;
}
.three{
  margin-left: 70px;
  margin-bottom: 15px;
}


.coach{
  margin-right: 0px;
  margin-left: 60px;
  padding-left: 50px;
  margin-top: 5px;
  grid-row: 1 / 1;
}
.coach img{
width: 300px;
border-radius: 5px;
} */


.button {
  background-color: #4CAF50;
  border-radius: 50px;
  color: black;
  padding: 15px 32px;
  text-decoration: none;
  display:inline-block;
  text-align: center;
  font-size: 16px;
  margin-top: 10px;
  margin-left: 300px;
}

.copyright{
  background-color: black;
  color: white;
  padding: 15px 32px;
  text-align: center;
  /* font-size: 25px; */
}
/* for screens that are extra large */
@media screen and (min-width: 1000px){
  .name{
    margin-top: 30px;
    margin-left: 30px;
    font-size:40px;
  }

  h2{
    margin-left: 160px;
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 60px;
    text-align: center;
  }

  .coach{
    float: right;
  }

  .coach img{
    width: 200px;
  }

    h3{
    font-size: 20px;  
    margin-left: 150px; 
    margin-bottom: 15px;
  } 

  .checks{
    font-size: 13px;
  }

  .one{
  margin-left: 230px;
  margin-bottom: 15px;
}
  .two{
    margin-left: 160px;
    margin-bottom: 15px;
  }
  .three{
    margin-left: 70px;
    margin-bottom: 15px;
  }

  .button{
    margin-bottom: 10px;
  }
}

/* a bit big Mobile */
@media screen and (max-width: 1000px){
  .name{
    margin-top: 20px;
    margin-left: 30px;
    font-size:30px;
  }

  h2{
    margin-left: 160px;
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 30px;
    text-align: center;
  }

  .coach{
    float: right;
  }

  .coach img{
    width: 200px;
  }

    h3{
    font-size: 15px;  
    margin-left: 150px; 
    margin-bottom: 6px;
  } 

  .checks{
    font-size: 13px;
  }

  .one{
  margin-left: 230px;
  margin-bottom: 7px;
}
  .two{
    margin-left: 160px;
    margin-bottom: 7px;
  }
  .three{
    margin-left: 70px;
    margin-bottom: 7px;
  }

  .button{
    margin-bottom: 10px;
  }
}

/* Mobile */
@media screen and (max-width: 768px){

  .name{
    margin-top: 30px;
    margin-left: 30px;
    font-size:30px;
  }

  h2{
    margin-left: 160px;
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 30px;
    text-align: center;
  }

  .coach{
    float: right;
  }

  .coach img{
    width: 200px;
  }

    h3{
    font-size: 13px;  
    margin-left: 150px; 
    margin-bottom: 15px;
  } 

  .checks{
    font-size: 13px;
  }

  .one{
  margin-left: 170px;
  margin-bottom: 15px;
}
  .two{
    margin-left: 100px;
    margin-bottom: 15px;
  }
  .three{
    margin-left: 15px;
    margin-bottom: 15px;
  }

  .button{
    margin-bottom: 10px;
  }
}


@media screen and (max-width: 768px){

  .name{
    margin-top: 30px;
    margin-left: 30px;
    font-size:30px;
  }

  h2{
    margin-left: 160px;
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 30px;
    text-align: center;
  }

  .coach{
    float: right;
  }

  .coach img{
    width: 200px;
  }

    h3{
    font-size: 13px;  
    margin-left: 150px; 
    margin-bottom: 15px;
  } 

  .checks{
    font-size: 13px;
  }

  .one{
  margin-left: 170px;
  margin-bottom: 15px;
}
  .two{
    margin-left: 100px;
    margin-bottom: 15px;
  }
  .three{
    margin-left: 15px;
    margin-bottom: 15px;
  }

  .button{
    margin-bottom: 10px;
  }
}

