*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{ 
  background: radial-gradient(circle at 74% 33%, rgba(159, 198, 25, 1) 0%, rgba(1, 30, 17, 1) 26%);
  background-repeat: no-repeat;
  position: relative;
}


  span{
    color: rgb(33, 33, 117);
  }

.navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo img{
  width: 140px;
}
.name{
  color: #16b108;
}


 h2{
  color: antiquewhite;
  display: block;
 }


.content{
  color: beige;
  min-height: 100vh;
}

.button {
  background-color: #4CAF50;
  border-radius: 50px;
  color: black;
  padding: 15px 32px;
  text-decoration: none;
  display:inline-block;
  text-align: center;
  font-size: 16px;
  margin-top: 10px;
  margin-left: 300px;
}

.copyright{
  background-color: black;
  color: white;
  padding: 15px 32px;
  text-align: center;
}
/* for screens that are extra large */
@media screen and (min-width: 1000px){
  .main{
    height: 100vh;
    overflow-y: hidden;
  }
  
  
  .name{
    margin-top: 30px;
    margin-left: 30px;
    font-size:40px;
  }

  h2{
    margin-left: 160px;
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 60px;
    text-align: center;
  }

  .coach{
    float: right;
  }

  .coach img{
    width: 350px;
  }

    h3{
    font-size: 20px;  
    margin-left: 150px; 
    margin-bottom: 15px;
  } 

  .checks{
    font-size: 22px;
  }

  .one{
  margin-left: 230px;
  margin-bottom: 15px;
}
  .two{
    margin-left: 160px;
    margin-bottom: 15px;
  }
  .three{
    margin-left:70px;
    margin-bottom: 150px;
  }

  .button{
    margin-bottom: 10px;
    font-size: 24px;
    padding: 22px 42px;
  }
}

/* a bit big Mobile */
@media screen and (max-width: 1000px){
  .main{
    height: 100vh;
    overflow-y: hidden;
  }
  
  .name{
    margin-top: 20px;
    margin-left: 30px;
    font-size:30px;
  }

  h2{
    margin-left: 160px;
    margin-top: 0px;
    margin-bottom: 13px;
    font-size: 30px;
    text-align: center;
  }

  .coach{
    float: right;
  }

  .coach img{
    width: 250px;
  }

    h3{
    font-size: 14px;  
    margin-left: 100px; 
    margin-bottom: 25px;
  } 

  .checks{
    font-size: 16px;
  }

  .one{
  margin-left: 160px;
  margin-bottom: 10px;
}
  .two{
    margin-left: 70px;
    margin-bottom: 10px;
  }
  .three{
    margin-left: 20px;
    margin-bottom: 70px;
    font-size: 13px;
  }

  .button{
    margin-bottom: 10px;
  }
}

/* Mobile */
@media screen and (max-width: 768px){

  .name{
    margin-top: 30px;
    margin-left: 30px;
    font-size:30px;
  }

  h2{
    margin-left: 160px;
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 30px;
    text-align: center;
  }

  .coach{
    float: right;
  }

  .coach img{
    width: 200px;
  }

    h3{
    font-size: 13px;  
    margin-left: 150px; 
    margin-bottom: 15px;
  } 

  .checks{
    font-size: 13px;
  }

  .one{
  margin-left: 170px;
  margin-bottom: 15px;
}
  .two{
    margin-left: 100px;
    margin-bottom: 15px;
  }
  .three{
    margin-left: 15px;
    margin-bottom: 15px;
  }

  .button{
    margin-bottom: 10px;
  }
}


@media screen and (max-width: 668px){

  .name{
    margin-top: 30px;
    margin-left: 30px;
    font-size:20px;
  }

  h2{
    margin-left: 160px;
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 16px;
    text-align: center;
  }

  .coach{
    float: right;
  }

  .coach img{
    width: 100px;
  }

    h3{
    font-size: 10px;  
    margin-left: 100px; 
    margin-bottom: 15px;
  } 

  .checks{
    font-size: 8px;
  }

  .one{
  margin-left: 170px;
  margin-bottom: 15px;
}
  .two{
    margin-left: 100px;
    margin-bottom: 15px;
  }
  .three{
    margin-left: 15px;
    margin-bottom: 15px;
  }

  .button{
    font-size: 8px;
    padding: 7px 32px;
  }
}

@media screen and (min-width: 481px) and (max-width: 668px) {
  body{ 
    background: radial-gradient(circle at 73% 50%, rgba(159, 198, 25, 1) 0%, rgba(1, 30, 17, 1) 26%);
    background-repeat: no-repeat;
    position: relative;
  }

  .main{
    height: 100vh;
    overflow-y: hidden;
  }

  .name{
    margin-top: 30px;
    margin-left: 30px;
    font-size:30px;
  }

  h2{
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 23px;
  }

  .coach{
    float: right;
  }

  .coach img{
    width: 150px;
  }

    h3{
    font-size: 11px;  
    margin-left: 15px; 
    margin-bottom: 15px;
  } 

  .checks{
    font-size: 13px;
  }

  .one{
  margin-left: 50px;
  margin-bottom: 15px;
}
  .two{
    margin-left: 30px;
    margin-bottom: 15px;
  }
  .three{
    margin-left: 10px;
    margin-bottom: 15px;
  }

  .button{
    margin-bottom: 10px;
    font-size: 16px;
    padding: 20px 32px;
    margin-left: 150px;  }
}


@media screen and (max-width :480px){
  
  body{ 
    background: radial-gradient(circle at 34% 33%, rgba(159, 198, 25, 1) 0%, rgba(1, 30, 17, 1) 26%);
    background-repeat: no-repeat;
    position: relative;
    background: black;
  }

    .main{
    height: 100vh;
    overflow-y: hidden;
  }

  .name{
    font-size: 14px;
    margin-bottom: 100px;
  }

  /* .logo img{
    float: left;
  } */

  h2{
    font-size: 16px;
    text-align: left;
    margin-left: 200px;
  }

  h3{
    font-size: 9px;
    margin-left: 10px;
  }

  .checks{
    font-size: 10px;
  }

  .one{
    margin-left: 10px;
  }
  .two{
    margin-left: 6px;
  }
  .three{
    margin-left: 3px;
    font-size: 10px;

  }

  .coach{
    float: left;
  }

  .coach img{
    width: 160px;
  }

  .button{
    font-size: 10px;
    padding: 7px 32px;
    margin-left: 100px;
  }
}
